@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.sss {
  border: 1px solid red;
}

.image {
  width: 100%;
}

.row {
  @apply flex flex-col md:flex-row gap-12 md:gap-14 items-center justify-between;
}

.heading_2 {
  @apply font-red font-bold text-2xl md:text-4xl;
}

.paragraph {
  @apply font-normal font-red text-base md:text-xl text-dark my-5;
}

.protect-section {
  background-image: url(./assets/top.png), url(./assets/bottom.png);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position-x: 100%, 0%;
  background-position-y: 0%, 100%;
}

@media (max-width: 700px) {
  .protect-section {
    background-size: 100%;
    background-position-y: -5%, 110%;
  }


.design-section {
  background-image: url(./assets/design.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 100%;
}

.label {
  @apply block font-red font-normal text-base text-dark;
}

.input-field {
  @apply block w-full border border-gray-300 p-2 outline-none rounded text-sm text-gray-500 mb-4;
}

.login-container .main-content {
  background-image: url(./assets/Donut.png), url(./assets/Donut-small.png);
  background-repeat: no-repeat;
  background-size: 8%;
  background-position-x: 100%, 5%;
  background-position-y: 0%, 100%;
}
